@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <ul id="messages">

    </ul>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/index.js"></script>